.main {
  /* margin-left: 0rem; */
  /* border: 1px solid black; */

  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.arrowIcon {
  color: #808080;
}
.left__arrow {
  border-radius: 50%;
  border: 2px solid #808080;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  background-color: transparent;
}
.right__arrow {
  border-radius: 50%;
  border: 2px solid #808080;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

.left__arrow:hover,
.right__arrow:hover {
  border: 2px solid #333;
  .arrowIcon {
    color: #333;
  }
}
