.main__container {
  display: flex;
  flex-direction: column;
  color: #4b4b4b;
  padding-block: 0.8rem;
  /* border: 1px solid black; */
  line-height: 1.75rem;
  /* overscroll-behavior-y: none; */
}
.wishlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}
.wishlist:hover {
  cursor: pointer;
  color: #000;
  background-color: #dedede;
}
.txt_submenu {
  font-size: 1.125rem;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: column;
  padding-block: 0.4rem;
  border-bottom: 1.5px solid #e5e7eb;
  border-bottom-color: #e5e7eb;
}
.list_item {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.75rem 1.6rem;
}
.list_item + .list_item {
  margin-top: 0.4rem;
}

.list_item:hover {
  cursor: pointer;
  color: #000;
  background-color: #dedede;
}

.txt_category {
  font-size: 0.93rem;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
.right_arrow:hover {
  cursor: pointer;
}
