.container {
  color: #484848;
  padding-block: 0.9rem;
  /* overscroll-behavior-y: auto; */
}
.sub__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-y: visible;
  padding-inline: 1rem 1.2rem;
}
.logo__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.zintoolsLogo {
  width: 25%;
  height: 25%;
  /* min-width: 1vw; */
  /* min-height: 1vh; */
}
.title {
  width: 50%;
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
.cross_icon:hover {
  cursor: pointer;
}
.heading__category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  padding-inline: 1rem 1.2rem;
}
.left__arrow:hover {
  cursor: pointer;
}
.text__category {
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-top: 0.24rem;
}

.list {
  margin-top: 1rem;
  /* padding-inline: 1rem 1.2rem; */
}
.list__item {
  font-size: 0.8rem;
  padding-block: 0.4rem;
  font-weight: 600;
  border-bottom: 1px solid #e5e7eb;
  border-bottom-color: #e5e7eb;
  padding-inline: 1rem 1.2rem;
}
.list__item:hover {
  cursor: pointer;
  color: #000;
  background-color: #dedede;

  /* margin-top: 0.4rem; */
}
