.container {
  padding: 0.75rem 0rem;
  margin-top: auto;
  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  background-color: #f1f3f4;
}
.social__sites {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 1.1rem 1rem;
  padding-bottom: 0rem;
}
.follow__tag {
  margin-right: 2rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: #333;
}
.social__links + .social__links {
  margin-left: 2rem;
}
#youtube:hover,
#twitter:hover,
#facebook:hover {
  fill: #000;
  cursor: pointer;
}
.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 2rem;

  margin-top: 2rem;
  margin-inline: 0 1rem;

  padding: 1.1rem 1rem;
  padding-block: 2.5rem 2.5rem;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
}
/**Below 1024px, Aboutus **/
@media (max-width: 1024px) {
  .aboutus {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2.3rem;
    column-gap: 2rem;
  }
  .section {
    font-size: 0.885rem;
  }
}
.section__one {
  margin-right: 7.5rem;
}
@media (max-width: 1024px) {
  .section__one {
    margin-right: 7rem;
  }
}
.article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.heading__4 {
  font-size: 1rem;
  /* line-height: 1.5rem; */
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.list {
  margin-top: 1.2rem;
}
.link {
  /* line-height: 1rem; */
  color: #4b4b4b;
  white-space: nowrap;
  /* padding-bottom: 0rem; */
  /* padding-top: 0rem; */
}
/**Below 1024px, links **/
@media (max-width: 1024px) {
  .link {
    /* line-height: 1rem; */
    color: #4b4b4b;
    white-space: nowrap;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
}
.link:hover {
  color: black;
  cursor: pointer;
}
.link + .link {
  margin-top: 1.3rem;
}
