.container {
  position: relative;
  width: 100vw;
}
.sub__container {
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 9992;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
