.main {
  /* border: 1px solid purple; */

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.2rem 0.2rem;
}

.container {
  /* margin-bottom: 24px; */
  border: 1px solid brown;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.heading2 {
  font-weight: 700;
  line-height: 36px;
  width: fit-content;
  color: #121212;
  font-size: 1.875rem; /**1.875 x 16px = 30px**/
}

.card {
  max-width: 100vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 2rem;
}
