.main {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.bookmark {
  margin: auto 0;
  margin-left: auto;
}
.pdf {
  margin-top: -1rem;
}
.title {
  color: #121212;
  white-space: nowrap;
  margin-top: 0.6rem;
}
.span {
  color: rgba(60, 60, 67, 0.6);
  font-size: 0.875rem;
  font-weight: 450;
  margin-top: 0.7rem;
}
