.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.2rem 0.2rem;
}

.heading2 {
  font-weight: 700;
  line-height: 36px;
  width: fit-content;
  color: #121212;
  font-size: 1.875rem; /**1.875 x 16px = 30px**/
}
@media (max-width: 600px) {
  .heading2 {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
  }
}
.carousel__container {
  margin: 2rem 0.2rem;
  padding-block: 1rem !important;
  display: flex;
  box-sizing: border-box;
}
.card__item {
  padding: 24px;
  min-width: 100px;

  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
}
.card__item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.card__item + .card__item {
  margin-left: 0.9rem;
}
