.main {
  /* border: 1px solid purple; */

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.2rem 0.2rem;
}
@media (max-width: 600px) {
  .main {
    margin-top: 1rem;
  }
}
.container {
  /* margin-bottom: 24px; */
  /* border: 1px solid brown; */
  display: flex;
  width: 100%;
  flex-direction: column;
}

.heading2 {
  font-weight: 700;
  line-height: 36px;
  width: fit-content;
  color: #121212;
  font-size: 1.875rem; /**1.875 x 16px = 30px**/
}
@media (max-width: 600px) {
  .heading2 {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
  }
}
.card {
  max-width: 100vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 2rem;
}
@media (max-width: 1024px) {
  .card {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

@media (max-width: 600px) {
  .card {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0rem;
    min-width: 100%;
    /* border: 1px solid brown; */
    gap: 1.5rem;
  }
}
