.navbar {
  margin-top: 1.6rem;
  margin-bottom: 0rem;
  /* border: 2px solid black; */
  padding: 0rem 2.2rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__list {
  display: flex;
  flex-direction: row;

  font-size: 0.8rem;
  color: #484848;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;

  margin-left: -1.4rem;
  margin-right: 1rem;
}
.nav__items {
}
.nav__list,
.nav__items,
.nav__link {
  list-style-type: none;
}

.nav__link {
  padding: 1rem 1rem;
  border-bottom: 2px solid transparent; /* Add initial border */
}
.nav__link:hover {
  border-bottom-color: #523ee8;
}
